name: CI

on:
  push:
  workflow_dispatch:

jobs:
  ci:
    if: github.event_name == 'push' || github.event.pull_request != null
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: [20.x, 22.x]
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10
      
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
          
      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile
                
      - name: Lint
        run: |
          pnpm run --if-present lint
          
      - name: Test
        run: |
          pnpm run --if-present test
          
      - name: Build
        run: |
          pnpm run --if-present build
          